
@import '../fonts/_fonts.scss';
:root {
  --main-color: #ffffff;
  --secondary-color: #000000;
  --font-family: 'Grtsk Peta';
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1680px;
  margin: 0 auto;
}

.header {
  max-width: 1920px;
  margin: 0 auto;
  
  &__top {
    @include caption-medium12-style();
    padding: 15px 0;
    background-color: var(--secondary-color);
    
    &-text {
      color: var(--main-color);
    }
    
    &-left {
      display: flex;
      align-items: center;
      gap: 35px;
    }
    
    &-right {
      display: flex;
      align-items: center;
      gap: 25px;
    }
  }
  
  &__item {
    display: flex;
    align-items: center;
    gap: 9px;
    
    &-location,
    &-delivery,
    &-payment,
    &-return {
      display: flex;
      align-items: center;
      gap: 15px;
    }
    &-nav {
      display: flex;
      align-items: center;
      gap: 26px;
    }
  }
  
  &__middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include body-1-16-medium-style();
    background-color: var(--main-color);
    padding: 22px 0;
    max-width: 1680px;
    margin: 0 auto;
    
    &-right {
      display: flex;
      align-items: center;
      gap: 25px;
    }

  }
.icon {
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
}
.right__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.choose__gender {
  display: flex;
  align-items: center;
  gap: 25px;
}
}
.header__bottom {
  max-width: 1920px;
  @include body-2-14-medium-style();
  margin: 0 auto;
  padding: 18px 0;
  &-nav {
    display: flex;
    max-width: 1680px;
    margin: 0 auto;
    align-items: center;
    gap: 25px;
  }
  &-sale {
    color: #FF0000;
  }
}
.slider {
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
  &__container {
    position: relative;
  }

  &__wrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
    overflow: hidden;
  }

  &__item {
    width: 1360px;
    cursor: pointer;

    &.active {
      position: relative;
      width: 1360px;
    }
    &-sale {
      font-family: 'Grtska Peta';
      font-size: 48px;
      font-weight: 700;
      line-height: auto;
    }
  }
}
.paggination__button-left {
  padding: 36px 13px 39px 9px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  &_arrowleft {
    width: 10px;
    height: 21px;
  }
}
.paggination__button-right {
  padding: 36px 13px 39px 9px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  &_arrowright {
    width: 10px;
    height: 21px;
  }
}
.sale__wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 76px;
  align-items: center;
  padding: 15px 38px 17px 30px;
  background-color: var(--secondary-color);
  color: var(--main-color) ;
  max-width: 623px;
  height: 90px;
}
.brands__slider {
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 50px;
  &-item {
    width: 61px;
    height: 63px;
  }
}
.action__wrapper {
  max-width: 1360px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 50px;
  &-item {
    display: flex;
    flex-direction: column;
    &-content {
      max-height: 269px;
    }
    &-title-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 22px 41px 24px 32px; 
      @include subtitle-1-21-medium-style();
      background-color: var(--secondary-color);
      color: var(--main-color);
    }
  }
}
.new__products {
  max-width: 1920px;
  margin: 0 auto;
  margin-top: 100px;
  &-container {
    max-width: 1360px;
    margin: 0 auto;
  }
  &-title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    @include H1-style();
    margin-bottom: 48px;
  }
  &-items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
  }
}
.text__wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 5px;
  &-brand {
    @include h3-capital16-medium-style();
  }
  &-description {
    @include body-2-14-medium-style();
    margin-bottom: 5px;
  }
  &-price {
    @include caption-capital8-medium-style();
  }
}
.image__wrapper {
  position: relative;
  padding: 50px 25px;
}
.favorite__active {
  display: flex;
  justify-content: flex-end;
}
.discount__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 55px;
  max-height: 25px;
  @include body-2-14-medium-style();
  background-color: #EB5757;
  color: var(--main-color);
  padding: 5px 10px;
  border-radius: 5px;
}
.showmore__button-wrapper {
  display: flex;
  justify-content: center;
}
.showmore__button {
  @include buttons-subtitle-3-16-medium-style();
  background-color: var(--secondary-color);
  color: var(--main-color);
  padding: 10px 90px;
}
.dcshoes__wrapper {
  max-width: 1360px;
  margin: 0 auto;
  margin-top: 100px;
}
.dcshoes__item-wrapper {
  position: relative;
  display: inline-block;
}

.dcshoes__item-image img {
  display: block;
  width: 100%;
  height: auto;
}

.dclogo__image {
  position: absolute;
  top: 36px;
  left: 36px;
  width: 80px;
}
.popular {
  max-width: 1920px;
  margin: 0 auto;
  margin-top: 25px;
  &__title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    max-width: 668px;
    margin: 0 auto;
    gap: 10px;
    &-title{
        @include subtitle-1-21-medium-style();
    }
    &-description {
      @include body-2-14-medium-style();
      color: #828282;
      margin-bottom: 65px;
    }
    &-title-dcshoes {
      @include H1-style();
      margin-bottom: 75px;
    }
}
.popular__container {
  max-width: 1360px;
  margin: 0 auto;
}
}